version: "3.9"
services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d:ro
    networks:
      - backend_frontend_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    image: ${DOCKERHUB_USERNAME}/lemp-backend:latest
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

    networks:
      - backend_frontend_net
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    image: ${DOCKERHUB_USERNAME}/lemp-frontend:latest
    networks:
      - backend_frontend_net
    depends_on:
      - backend
    ports:
      - "82:82"

volumes:
  db_data:

networks:
  backend_frontend_net: